/* youtube-style.css */

.video-js {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #000;
    color: #f50000;
}

.video-js .vjs-control-bar {
    background: rgba(0, 0, 0, 0.7);
    font-size: 14px;
}

.video-js .vjs-big-play-button {
    background-color: #ff0000;
    border-radius: 50%;
    top: 50% !important;
    left: 50% !important;
    margin-left: -40px !important;
    margin-top: -40px !important;
    transition: background-color 0.3s ease;
}

.vjs-big-play-button:hover {
    background: #e60000;
}

.video-js .vjs-progress-holder {
    height: 3px;
    border-radius: 3px;
    background: #444;
}

.video-js .vjs-play-progress {
    background: #ff0000 !important;
    border-radius: 3px;
}

.video-js .vjs-volume-level {
    background: #ff0000 !important;
}

.video-js .vjs-fullscreen-control {
    color: #fff;
    transition: color 0.3s ease;
}

.video-js .vjs-fullscreen-control:hover {
    color: #ff0000;
}
